@font-face {
    font-family:geometria_bolt;
    src: url(Geometria/geometria_bold.otf);
}
@font-face {
    font-family:geometria_light;
    src: url(Geometria/geometria_light.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* цвет фона */
html body  {
    background-color:#101014;
}
/* ---------- */

/* выравнивание по центрам */
.content-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 25px;
}
/* Лого кампании */
.textAlfa{
font-family: geometria_bolt;
color:brown;
font-size: 2rem;
}
.textFranche{
font-family: geometria_light;
color: white;
font-size: 2rem;
}
/* ------------- */
.photo{
    border-radius: 25%;
    width: 36px;
}
.icon{
width: 20px;
height: 20px;
padding-left: 10px;
}
.face-prof{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title > h1{
    font-family: geometria_bolt ;
    font-size: 1.5rem;
    color: white;
}
/* ----------- */
/* выравнивание по середине страницы*/
.content-redit{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------- */
/* заголовок редактировать */
.titleReditBlok{
    max-width: 250px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}


.titleReditBlok h1{
    font-family:geometria_bolt;
    color: white;
    font-size: 24px;
}
/* ------------ */

/* Блок контакта */
.blok{

    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #1B1A20;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.namePerson{
    width: 220px;
    margin-left: 15px;
    text-align: start;
}
.namePerson p{
    font-family: geometria_light;
    color: white;
}

.phonePerson{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.phonePerson p{
    font-family: geometria_light;
    color: white;
}
.button-cmd{
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}


.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 25px;
}
.content{
  width: 100%;
  max-width: 785px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}



.wrapper {
    width: 100%;
    max-width: 785px;
}


/* Лого кампании */
.textAlfa{
font-family: geometria_bolt;
color:brown;
font-size: 2rem;
}
.textFranche{
font-family: geometria_light;
color: white;
font-size: 2rem;
}
/* ------------- */
.photo{
    border-radius: 25%;
    width: 36px;
}
.icon{
width: 20px;
height: 20px;
padding-left: 10px;
}
.face-prof{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title > h1{
    font-family: geometria_bolt ;
    font-size: 1.5rem;
    color: white;
}
/* --------------------------- */
/* кнопка отмена с текстом новый контакт */
.box{
    display: flex;
    justify-content: center;
}
.titleNewContactBlok{
    display: flex;
    width: 785px;
    justify-content:space-between;
    align-items: center;
    margin-top:30px;
    margin-bottom: 30px;
}
.titleNew h1{
    font-family:geometria_bolt;
    color: white;
}
.buttonCancel{
    width: 125px;
    height: 30px;
    border: 1px solid #54575F;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 12px;
    position: relative;
}

.buttonCancel img{
    position: absolute;
    top: 6px;
    right: 8px;
}

.buttonCancel p {
    font-family:geometria_light;
    color: #54575F;
}

.buttonCancel a{
    text-decoration: none;
}
/* -------------------------------------- */
/* выравниевание всей формы по середине */
.container-form{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* ---------------------------------- */

/* форма заполнения */
.form-wrapper{
    width: 785px;
    height: auto;
    background: #1B1A20;
    border-radius: 20px;
    padding: 25px 25px;
    position: relative;

}
/* ------------------- */
/* кнопки сохранить и удалить */
.bloc-input input{
    width: 600px;
    height: 35px;
    color:white;
    background: #34333D;
    padding-left: 15px;
    padding-right: 15px;
    border:0px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*выравнивание блока кнопок по wrapper  */
.bloc-submitCategory{
margin-left: 400px;
}

.bloc-submit{
}
/* ----------------- */

.bloc-submit input{
    width: 135px;
    height: 30px;
    border: 1px solid #4B5158;
    border-radius: 10px;
    background: #4B5158;
    font-family:geometria_light;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: white;
}
/* выравнивание иконки в кнопке  сохранить */
.inputIconSave{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 5px;
    text-align: center;
}
.bloc-submit img{
    position: absolute;
    left: 8%;
    top: 22%;
}
/* выравнивание иконки в кнопке сохранить */
.inputIconDelete{
    width: 100%;
    height: auto;
    position: relative;
}
/* ------------------ */




/* Лого кампании */
.textAlfa{
font-family: geometria_bolt;
color:brown;
font-size: 2rem;
}
.textFranche{
font-family: geometria_light;
color: white;
font-size: 2rem;
}
/* ------------- */
.photo{
    border-radius: 25%;
    width: 36px;
}
.icon{
width: 20px;
height: 20px;
padding-left: 10px;
}
.face-prof{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title > h1{
    font-family: geometria_bolt ;
    font-size: 1.5rem;
    color: white;
}
/* --------------------------- */
/* кнопка отмена с текстом новый контакт */
.box{
    display: flex;
    justify-content: center;
}
.titleNewContactBlok{
    display: flex;
    width: 785px;
    justify-content:space-between;
    align-items: center;
    margin-top:30px;
    margin-bottom: 30px;
}
.titleNew h1{
    font-family:geometria_bolt;
    color: white;
}
.buttonCancel{
    width: 125px;
    height: 30px;
    border: 1px solid #54575F;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 12px;
    position: relative;
}

.buttonCancel img{
    position: absolute;
    top: 6px;
    right: 8px;
}

.buttonCancel p {
    font-family:geometria_light;
    color: #54575F;
}

.buttonCancel a{
    text-decoration: none;
}
/* -------------------------------------- */
/* выравниевание всей формы по середине */
.container-form{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* ---------------------------------- */

/* форма заполнения */
.form-wrapper{
    width: 785px;
    height: auto;
    background: #1B1A20;
    border-radius: 20px;
    padding: 25px 25px;
    position: relative;

}
/* ------------------- */
/* кнопки сохранить и удалить */
.bloc-input input{
    width: 100%;
    height: 35px;
    color:white;
    background: #34333D;
    padding-left: 15px;
    padding-right: 15px;
    border:0px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}



.bloc-submit input{
    width: 135px;
    height: 30px;
    border: 1px solid #4B5158;
    border-radius: 10px;
    background: #4B5158;
    font-family:geometria_light;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: white;
}
/* выравнивание иконки в кнопке  сохранить */
.inputIconSave{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 5px;
    text-align: center;
}
.bloc-submit img{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0px, -50%);
}
/* выравнивание иконки в кнопке сохранить */
.inputIconDelete{
    width: 100%;
    height: auto;
    position: relative;
}
/* ------------------ */

.form {
  display: flex;
    align-items: flex-end;
}
.bloc-input {
  width: 100%;
  margin-right: 15px;
}
.bloc-inputCategory {
  margin-right: 400px;
}

/* редактирование иконок по стилям */
.edit_pen {
  stroke: #4172F4;
}
.group{
    position: absolute;
    top: 1.5px;
    right: 0px;
}
.groupCategory{
    position: absolute;
    top: 1.5px;
    right: 85px;
}
.groupCategory{
    position: absolute;
    top: 1.5px;
    right: 80px;
}
.phone{
    margin-right: 10px;
}
/* -------------------------- */
/* кнопка событие */
.ivent-block a{
  width: 125px;
  height: 30px;
  align-items: center;
  border: 1px solid #54575F;
  text-decoration: none;
  padding: 12px 12px;
  border-radius: 20px;
  color: #54575F;
}
/* ------------- */

/* табличка события  */
.blok-event{
  height: 75px;
  display: flex;
  justify-content:left;
  align-items: center;
  background: #1B1A20;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;

}
.iconCarbagEvent{
position: absolute;
right: -30px;
}

.data{
    width: 448px;
    margin-left: 15px;
    text-align: start;
}
.data p{
    font-family: geometria_light;
    color: white;
}

.event-text{
    display: flex;
    width: 710px;
    /* justify-content:space-around; */
    /* align-items: center; */
}
.event-text p{
    font-family: geometria_light;
    color: white;
}


/* ---------------- */
/* ------Select------*/
.selectContainer{
    width: 100%;
    height: 35px;
    color: white;
    background: #34333D;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* ---------------- */
